.btn{
    font-size: 13px;
    font-weight: 900;
    color: $white;
    background: $blue;
    padding: 11px 15px;
    border-radius: 27px;
    border: 1px solid $blue;
    &:hover{
        background: #0D3789;
        border: 1px solid $blue;
    }
    &:active{
        border: 0;
        transform: scale(.96)
    }
}
// Header Section ::::
header {
    width: 100%;
    height: 62px;
    position: fixed;
    padding: 0 15px;
    z-index: 99;
    @include transitions(400ms);
    background: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: min-content;

    @include respond-to-min(750){
        height: 69px;
        padding: 0 40px 0 20px;
    }
    .logo{
        cursor: pointer;
        display: flex;
        flex: 1 0 auto;
        @include respond-to-min(750){
            margin-right: 100px;
        }
        
        svg{
            path{
                &:nth-child(13),
                &:nth-child(14),
                &:nth-child(15),
                &:nth-child(16),
                &:nth-child(17),
                &:nth-child(18),
                &:nth-child(19),
                &:nth-child(20),
                &:nth-child(21),
                &:nth-child(22),
                &:nth-child(23){
                    fill: #fff;
                }
            }
        }
    }
    .search{
        width: 100%;
        flex: 1 1 100%;
        justify-content: flex-start;
        display: none;
        vertical-align: middle;
        white-space: nowrap;
        align-items: center;
        @include respond-to-min(980){
            display: flex;
        }
        .search-wrapper{
            max-width: 100%;
            flex: 1 1 auto;
            width: 100%;
        }
        form{
            max-width: 350px;
            input{
                width: 100%;
                background: #f2f2f2;
                border: none;
                font-size: 13px;
                font-weight: normal;
                border-radius: 27px;
                padding: 10px 10px 10px 30px;
                border-bottom: 2px solid $white;
                &:focus{

                    border-bottom: 2px solid $blue;
                }
            }
        }
    }
    .component-box{
        display: flex;
        flex: 0 0 auto;
        justify-content: flex-end;
        
        .topbar-action{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: content;
            
            .btn,
            .notification-icon,
            .wrapper-profile,
            .menu-button{
                margin-left: 12px;
                flex-shrink: 0;
            }
            .agregar-canal,
            .criar-canal{
                color: $gray;
                font-size: 13px;
                font-weight: 600;
                margin-left: 25px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                span{
                    margin: 0;
                    padding: 0;
                    margin-left: 5px;
                    color: #fff;
                }
            }
            
            svg{
                path,
                ellipse,
                rect{
                    fill: #fff;
                }
            }
            .notification-icon{
                @include respond-to-min(750){
                    margin-left: 25px;
                }
            }
            .btn{
            }
            .wrapper-profile{
                width: 21px;
                height: 21px;
                overflow: hidden;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include respond-to-min(750){
                    width: 35px;
                    height: 35px;
                    border-radius: 3px;
                    img{
                        transform: scale(1);
                    }
                }
                img{
                    width: 100%;
                    transform: scale(1.5);
                    
                    @include respond-to-min(750){
                        transform: scale(1);
                    }
                }
            }
            .menu-button{
                width: auto;
                padding: 0 5px;
                background: transparent;
                border: none;
            }
        }
    }
}
.main{
    width: 100%;
    padding: 62px 0;
    height: auto;
    position: relative;
    @include respond-to-min(750){
        padding: 0;
        padding-top: 69px;
    }
}
.sidebar{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 98;
    background: #202020;
    transition: all 0s;
    @include respond-to-min(750){
        width: 186px;
        height: 100%;
        top: 0;
        bottom: auto;
        padding-top: 69px;
    }
    &.scrollhere{
        @include respond-to-max-h(700){
            overflow-y: scroll;
        }
    }
    nav{
        width: 100%;
        height: 100%;
        @include respond-to-min(750){
            height: auto;
        }

        ul{
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            align-items: center;
            @include respond-to-min(750){
                flex-direction: column;
                justify-content: start;
            }
            h5{
                width: 100%;
                margin: 0;
                padding: 0;
                font-size: 16px;
                color: $gray;
                font-weight: 600;
                padding: 10px 20px 0;
                text-align: left;
            }
            li{
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                @include respond-to-min(750){
                    height: auto;
                }
                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    &.active{
                        background: #2b2b2b;
                        .wrappe-menu{
                            svg{
                                path{
                                    fill: #E52321;
                                }
                            }
                            span{
                                color: #fff;
                            }
                        }
                    }
                    &.disabled{
                        cursor: inherit;
                        .wrappe-menu{
                            svg{
                                path{
                                    fill: #5b5b5b;
                                }
                            }
                            span{
                                color: #5b5b5b;
                            }
                        }
                        &:hover{
                            background: #202020;
                            
                            .wrappe-menu{
                                svg{
                                    path{
                                        fill: #5b5b5b;
                                    }
                                }
                                span{
                                    color: #5b5b5b;
                                }
                            }
                        }
                    }
                    &:hover{
                        background: #4d4d4d;
                        .wrappe-menu{
                            svg{
                                path{
                                    fill: #E52321;
                                }
                            }
                            span{
                                color: #fff;
                            }
                        }
                    }
                    .wrappe-menu{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        &.add-menu{
                            span{
                                font-size: 12px;
                            }
                        }
                        @include respond-to-min(750){
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                            padding: 12px 20px;
                        }
                        svg{
                            height: 16px;
                            @include respond-to-min(750){
                                width: 20px;
                                margin-right: 10px;
                            }
                            path{
                                fill: #a4a4a4
                            }
                        }
                        span{
                            color: #A4A4A4;
                            font-size: 11px;
                            @include respond-to-min(750){
                                font-size: 15px;
                            }
                        }

                    }
                }
            }
            hr{
                width: 100%;
                margin: 0;
                border-color: #4c4c4c;
            }
        }
    }
    .light-mode-cta{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        @include respond-to-min(750){
            height: auto;
        }
        &.active{
            .slider{
                background: cornflowerblue !important;
                .icon{
                    right: 0;
                }
            }
        }
        hr{
            margin: 0;
        }
        a{
            width: 100%;
            height: 100%;
            display: block;
            cursor: pointer;
            &:hover{
                background: #e2e2e2;
                svg{
                    path{
                        fill: #E52321;
                    }
                }
            }
            .wrappe-menu{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @include respond-to-min(750){
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 12px 20px;
                }
                .slider{
                    height: 16px;
                    width: 30px;
                    margin-right: 10px;
                    background: #ccc;
                    border-radius: 10px;
                    position: relative;
                    .icon{
                        width: 12px;
                        height: 12px;
                        background: #fff;
                        margin: 2px;
                        border-radius: 12px;
                        position: absolute;
                    }
                }
                span{
                    color: $gray;
                    font-size: 11px;
                    @include respond-to-min(750){
                        font-size: 15px;
                    }
                }

            }
        }
    }
    
    .widget-box{
        padding: 20px;
        flex-direction: column;
        h5{
            color: #FFCA00;
            font-size: 16px;
            margin: 0;
            padding: 0;
            margin-bottom: 5px;
        }
        p{
            font-size: 13px;
            line-height: 16px;
            margin: 0;
            margin-bottom: 10px;
        }
        .btn-box{
            width: 100%;

        }
    }
}

/* Track */
.scrollhere,
.scrollola{
    
    scrollbar-color: #373737 #202020;
    scrollbar-width: thin;
    &::-webkit-scrollbar-track {
        background: #EEE3F6;
        border-radius: 5px;
    }
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
        scroll-behavior: smooth;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track:hover {
        background: #202020;
        border-radius: 5px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #373737;
        border-radius: 5px;
        cursor: pointer;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #373737;
        border-radius: 5px;
        cursor: pointer;
    }
}


  

  